.basic-form {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 15px;
}

.step-content-margin-top {
  margin-top: 15px;
}

.form-title {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  margin-bottom: 23px;
  h1 {
    margin: 0;
  }
}

.basic-form ::ng-deep .mat-form-field {
  width: 210px;
  font-size: 17px;
  .mat-form-field-flex {
    background-color: transparent;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (max-width: 374px) {
    width: 190px;
  }

  @media (max-width: 344px) {
    width: 165px;
  }
}

.basic-form ::ng-deep .mat-button {
  @media (max-width: 374px) {
    font-size: 13px;
  }
}

.student-list {
  margin-top: 15px;
  max-height: 0px;
  transition: max-height 0.4s;
}

.show-student-list {
  max-height: 80px;
  width: 720px;

  @media (max-width: 1439px) {
    width: 265px;
  }

  @media (max-width: 424px) {
    width: 205px;
  }
}

.student-list-overflow {
  max-height: 80px;
  overflow-y: auto;
  overflow-x: auto;
}

.done-step-title {
  @media (max-width: 1439px) {
    text-align: center;
  }
}
