$maxTooltipHeight: 284px;
$maxTooltipWidth: 258px;

.tooltip {
  position: absolute;
  z-index: 1001;
  height: max-content;
  max-height: $maxTooltipHeight;
  width: max-content;
  max-width: $maxTooltipWidth;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  background: #673ab7;
  background: linear-gradient(
    79deg,
    #673ab7 20%,
    #f44336 80%
  );

  .tooltip-content {
    margin: 1em;
  }
}
