<div class="form">
  <div>
    <div class="status-form">
      <mat-form-field appearance="fill">
        <mat-label>Select your status</mat-label>
        <mat-select [(ngModel)]="userRole" (selectionChange)="setUserRole()">
          <mat-option *ngFor="let status of STATUSES" [value]="status">
            {{ status }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="userRole">
      <ap-registration-form></ap-registration-form>
    </div>
  </div>
</div>
