.step-content-margin-top {
  margin-top: 10px;
}

.user-form ::ng-deep .mat-form-field {
  width: 210px;

  .mat-form-field-flex {
    background-color: transparent;
  }

  @media ( max-width: 374px ) {
    width: 165px;
  }

  @media ( max-width: 344px ) {
    width: 135px;
  }
}
