<div mat-dialog-content class="user-form">
  <h2>New user information</h2>
  <mat-stepper #stepper orientation="vertical">
    <form [formGroup]="newUserForm" novalidate>
      <mat-step
        [stepControl]="newUserForm.controls['name']"
        errorMessage="Enter user's name."
      >
        <ng-template matStepLabel>Fill out student's name</ng-template>
        <div class="step-content-margin-top">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="First name" formControlName="name" />
            <mat-error
              *ngIf="newUserForm.controls['name'].invalid && newUserForm.controls['name'].touched"
            >
              Enter user's name
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="newUserForm.controls['lastName']"
        errorMessage="Enter user's last name."
      >
        <ng-template matStepLabel>Fill out user's last name</ng-template>
        <div class="step-content-margin-top">
          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="newUserForm.controls['lastName'].invalid && newUserForm.controls['lastName'].touched"
            >
              Enter user's last name
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="newUserForm.controls['email']"
        errorMessage="Incorrect email."
      >
        <ng-template matStepLabel>Fill out user's email</ng-template>
        <div class="step-content-margin-top">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Ex. email@email.com"
              formControlName="email"
            />
            <mat-error
              *ngIf="newUserForm.controls['email'].invalid && newUserForm.controls['email'].touched"
            >
              Incorrect email or this email's already in use
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="newUserForm.controls['phoneNumber']"
        errorMessage="Incorrect phone number."
      >
        <ng-template matStepLabel>Fill out user's phone number</ng-template>
        <div class="step-content-margin-top">
          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              placeholder="Phone number"
              formControlName="phoneNumber"
            />
            <mat-error
              *ngIf="newUserForm.controls['phoneNumber'].invalid && newUserForm.controls['phoneNumber'].touched"
            >
              Incorrect phone number
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="step-content-margin-top">
          <h3>
            {{ newUserForm.invalid ? "Please fill in all required fields" : "You
            are now done." }}
          </h3>
          <div mat-dialog-actions>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button (click)="cancel()">Cancel</button>
            <button
              mat-button
              [disabled]="newUserForm.invalid"
              [mat-dialog-close]="newUserForm.value"
              cdkFocusInitial
            >
              Add user
            </button>
          </div>
        </div>
      </mat-step>
    </form>
  </mat-stepper>
</div>
