.audio-player {
  display: flex;
  align-items: center;
  background-color: rgb(229, 226, 226);
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

.waveform {
  cursor: pointer;
  width: 300px;
}
