<form [formGroup]="studentForm" novalidate>
  <div class="form-container">
    <div class="basic-form">
      <div class="form-title">
        <h1>Student registration form</h1>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your name</mat-label>
          <input matInput formControlName="name" />
          <mat-error
            *ngIf="
              studentForm.controls['name'].invalid &&
              studentForm.controls['name'].touched
            "
          >
            Enter your name</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your last name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error
            *ngIf="
              studentForm.controls['lastName'].invalid &&
              studentForm.controls['lastName'].touched
            "
          >
            Enter your last name</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your email</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="
              studentForm.controls['email'].invalid &&
              studentForm.controls['email'].touched
            "
          >
            Incorrect email. Ex.: email@email.com
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your phone number</mat-label>
          <input matInput formControlName="phoneNumber" />
          <mat-error
            *ngIf="
              studentForm.controls['phoneNumber'].invalid &&
              studentForm.controls['phoneNumber'].touched
            "
          >
            Incorrect phone number</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              studentForm.controls['password'].invalid &&
              studentForm.controls['password'].touched
            "
          >
            Incorrect password</mat-error
          >
        </mat-form-field>
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div
        class="parent-list"
        [class.show-parent-list]="arrayOfParents.length > 0"
      >
        <button mat-button type="button" [matMenuTriggerFor]="parents">
          Parent list
        </button>
        <mat-menu #parents="matMenu">
          <div
            class="parent-list-item"
            *ngFor="let parent of arrayOfParents.controls; let i = index"
          >
            <button mat-icon-button type="button" (click)="deleteParent(i)">
              <mat-icon>remove</mat-icon>
            </button>
            <div class="parent-email">
              <span>
                {{ parent.value["email"] }}
              </span>
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="buttons-container">
        <div>
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="addParent()"
          >
            Add parent
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="studentForm.invalid"
            (click)="signUp()"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
