<div class="form-container">
  <div class="basic-form">
    <div class="form-title">
      <h1>Student registration form</h1>
    </div>
    <mat-stepper #stepper [orientation]="stepperOrientation">
      <form [formGroup]="studentForm" novalidate>
        <mat-step
          [stepControl]="studentForm.controls['name']"
          errorMessage="Enter your name."
        >
          <ng-template matStepLabel>Fill out your name</ng-template>
          <div class="step-content-margin-top">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="First name" formControlName="name" />
              <mat-error
                *ngIf="
                  studentForm.controls['name'].invalid &&
                  studentForm.controls['name'].touched
                "
              >
                Enter your name</mat-error
              >
            </mat-form-field>
            <div>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="studentForm.controls['lastName']"
          errorMessage="Enter your last name."
        >
          <ng-template matStepLabel>Fill out your last name</ng-template>
          <div class="step-content-margin-top">
            <mat-form-field appearance="fill">
              <mat-label>Last name</mat-label>
              <input
                matInput
                placeholder="Last name"
                formControlName="lastName"
              />
              <mat-error
                *ngIf="
                  studentForm.controls['lastName'].invalid &&
                  studentForm.controls['lastName'].touched
                "
              >
                Enter your last name</mat-error
              >
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="studentForm.controls['email']"
          errorMessage="Incorrect email."
        >
          <ng-template matStepLabel>Fill out your email</ng-template>
          <div class="step-content-margin-top">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email" formControlName="email" />
              <mat-error
                *ngIf="
                  studentForm.controls['email'].invalid &&
                  studentForm.controls['email'].touched
                "
              >
                Incorrect email. Ex. email@email.com
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="studentForm.controls['phoneNumber']"
          errorMessage="Incorrect phone number."
        >
          <ng-template matStepLabel>Fill out your phone number</ng-template>
          <div class="step-content-margin-top">
            <mat-form-field appearance="fill">
              <mat-label>Phone number</mat-label>
              <input
                matInput
                placeholder="Phone number"
                formControlName="phoneNumber"
              />
              <mat-error
                *ngIf="
                  studentForm.controls['phoneNumber'].invalid &&
                  studentForm.controls['phoneNumber'].touched
                "
              >
                Incorrect phone number</mat-error
              >
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="studentForm.controls['confirmPassword']"
          errorMessage="Confirm password."
        >
          <ng-template matStepLabel>Fill out your password</ng-template>
          <div class="step-content-margin-top">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Password"
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                />
                <mat-error
                  *ngIf="
                    studentForm.controls['password'].invalid &&
                    studentForm.controls['password'].touched
                  "
                >
                  Incorrect password</mat-error
                >
              </mat-form-field>
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input
                  matInput
                  placeholder="Password"
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <mat-error
                  *ngIf="
                    studentForm.controls['confirmPassword'].hasError(
                      'notConfirmed'
                    ) && studentForm.controls['confirmPassword'].touched
                  "
                >
                  Password mismatch</mat-error
                >
              </mat-form-field>
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPassword"
              >
                <mat-icon>{{
                  hideConfirmPassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Add parents</ng-template>
          <div class="step-content-margin-top">
            <h2>You can add parents</h2>
            <div
              class="parent-list"
              [class.show-parent-list]="arrayOfParents.length > 0"
            >
              <mat-chip-list aria-label="added parents">
                <div class="parent-list-overflow">
                  <mat-chip
                    *ngFor="
                      let parent of arrayOfParents.controls;
                      let i = index
                    "
                    (removed)="deleteParent(i)"
                  >
                    {{ parent.value["email"] }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </div>
              </mat-chip-list>
            </div>
            <div>
              <button mat-button type="button" (click)="addParent()">
                Add parent
              </button>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="step-content-margin-top">
            <div class="done-step-title">
              <h2>
                {{
                  studentForm.invalid
                    ? "Please fill in all required fields"
                    : "You are now done."
                }}
              </h2>
            </div>
            <div></div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button
                mat-button
                type="button"
                (click)="stepper.reset(); clearParents()"
              >
                Reset
              </button>
              <button
                mat-button
                [disabled]="studentForm.invalid"
                (click)="signUp()"
              >
                Sign Up
              </button>
            </div>
          </div>
        </mat-step>
      </form>
    </mat-stepper>
  </div>
</div>

<!-- <div>
        <mat-form-field appearance="fill">
          <mat-label>Your name</mat-label>
          <input matInput formControlName="name" />
          <mat-error
            *ngIf="
              studentForm.controls['name'].invalid &&
              studentForm.controls['name'].touched
            "
          >
            Enter your name</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your last name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error
            *ngIf="
              studentForm.controls['lastName'].invalid &&
              studentForm.controls['lastName'].touched
            "
          >
            Enter your last name</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your email</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="
              studentForm.controls['email'].invalid &&
              studentForm.controls['email'].touched
            "
          >
            Incorrect email. Ex.: email@email.com
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your phone number</mat-label>
          <input matInput formControlName="phoneNumber" />
          <mat-error
            *ngIf="
              studentForm.controls['phoneNumber'].invalid &&
              studentForm.controls['phoneNumber'].touched
            "
          >
            Incorrect phone number</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Your password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              studentForm.controls['password'].invalid &&
              studentForm.controls['password'].touched
            "
          >
            Incorrect password</mat-error
          >
        </mat-form-field>
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div
        class="parent-list"
        [class.show-parent-list]="arrayOfParents.length > 0"
      >
        <button mat-button type="button" [matMenuTriggerFor]="parents">
          Parent list
        </button>
        <mat-menu #parents="matMenu">
          <div
            class="parent-list-item"
            *ngFor="let parent of arrayOfParents.controls; let i = index"
          >
            <button mat-icon-button type="button" (click)="deleteParent(i)">
              <mat-icon>remove</mat-icon>
            </button>
            <div class="parent-email">
              <span>
                {{ parent.value["email"] }}
              </span>
            </div>
          </div>
        </mat-menu>
      </div>
      <div class="buttons-container">
        <div>
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="addParent()"
          >
            Add parent
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="studentForm.invalid"
            (click)="signUp()"
          >
            Sign Up
          </button>
        </div>
      </div> -->
