.dropdown {
  position: relative;
  z-index: 100;
}

.top-bar {
  position: relative;
  z-index: 1001;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}

.menu-list {
  position: absolute;
  z-index: 1001;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s;

  .menu-element {
    margin-right: 10px;
  }
}

.show-menu-list {
  height: 175px;
}

.block-page {
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  opacity: 0.7;
}
