<form [formGroup]="setPasswordForm">
  <div mat-dialog-content>
    <p>Create password</p>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          placeholder="Password"
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-error *ngIf="checkControlErrors('password')">
          Incorrect password</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon
            >{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
          >
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          required
          placeholder="Password"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="checkControlErrors('confirmPassword')">
          Password mismatch</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon
            >{{ hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon
          >
        </button>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [disabled]="setPasswordForm.invalid"
      [mat-dialog-close]="setPasswordForm"
      cdkFocusInitial
    >
      Set password
    </button>
  </div>
</form>
